<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amazon_copy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/navbar.css">
    
    <header>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo"></div>
        </div>


        <div class="nav-address border">
            <p class="first">Deliver to</p>
            <div class="icon_address">
                <i class="fa-solid fa-location-dot"></i>
                <p class="add_second">India</p>
            </div>
        </div>

        <form class="nav-search" action="https://www.amazon.in/s" method="get">
            <select class="select_all">
                <option>All</option>
            </select>
            <input class="search_input" type="text" placeholder="Search Amazon" name="k">
            <button class="search_icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="flag border">🇮🇳 India</div>

        <div class="sign-in border">
            <p class="first">Hello, sign in</p>
            <p class="add_second">Account & Lists</p>
        </div>

        <div class="return border">
            <p class="first">Returns</p>
            <p class="add_second">&amp; Orders</p>
        </div>

        <div class="cart-nav border">
            <i class="fa-solid fa-cart-shopping"></i>
            <p class="add_second">Cart</p>
        </div>
    </div>

    <div class="panel">
        <div class="panel-all border">
            <i class="fa-solid fa-bars"></i>
            <p>All</p>
        </div>
        <div class="panel-ops">
            <p class="border">Fresh <i class="fa-solid fa-caret-down"></i></p>
            <p class="border">Prime Video</p>
            <p class="border">Sell</p>
            <p class="border">Bestsellers</p>
            <p class="border">Today's Deals</p>
            <p class="border">Mobiles</p>
            <p class="border">Customer Service</p>
            <p class="border">New Releases</p>
            <p class="border">Prime <i class="fa-solid fa-caret-down"></i></p>
            <p class="border">Electronics</p>
            <p class="border">Home &amp; Kitchen</p>
            <p class="border">Fashion</p>
            <p class="border">Amazon Pay</p>
            <p class="border">Car &amp; Motorbike</p>
            <p class="border">Pet Supplies</p>
        </div>
    </div>
</header>